---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      <div class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    
    {% if page.link %}
    <center>
      <p>
        <iframe src="{{page.link}}" width="640" height="480"></iframe>
      </p>
    </center>
    {% endif %}
    <h4>Description:</h4>
    <p>{{page.description}}</p>
    <p>{{page.location | markdownify}}</p>
    <p><b>Distance:</b> {{page.distance}}</p>
    <p><b>Elevation:</b> {{page.elevation}}</p>
    <hr>
    <p></p>
    {{ content }}
    <h4>
    <a href="{{site.baseurl}}/routes/{{page.gpx}}">Download Route</a>
  </h4>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
